# Main configuration file


# Postgres connection host
pg_host: 127.0.0.1

# Postgres connection TCP-port
pg_port: 5432

# Postgres connection username
pg_login: postgres

# Postgres connection password
pg_password: ghjcnj

# Postgres connection database
pg_database: gorkunov

# Amount of records in +like+ table
table_like_records_amount: 100000

# Amount of query executions for calculating
# everage spent time value for one query
table_like_reads_amount_for_average_val: 10