%h1 Task 1
%p
  Please, see the ticket
  %a{href: 'https://github.com/AlexKalinin/gorkunov-tasks/issues/1'} #1
  for details

%p
  Try use
  %a{href: time_url, target: 'blank'} /time
  for getting UTC time


%p
  Try use
  %a{href: time_url + '?Moscow,New%20York', target: 'blank'} /time?Moscow,New%20York
  for getting UTC time, and time for cities:
  %b Moscow
  and
  %b New York